{% extends "layout.html" %}

{% block title %}Snow log{% endblock title %}

{% block main %}
<div class="page-weeks">
  <div class="header">
    {{home_header_link()}}
    <h1>Snow log!</h1>
  </div>
  <a href="/edit">
    <img src="/static/pen.png" height="20" />
    Add new
  </a>

  {% for activity in activities %}
  <div class="activity">
    <a name="{{activity.id}}"></a>
    <h2>{{activity.activity_type}} - {{activity.date}}</h2>
    <div class="summary">
      {% if activity.duration_hours %}
      <strong>Duration:&nbsp;</strong>{{activity.duration_hours|floatfmt}}<br />
      {% endif %}

      {% if activity.location %}
        <strong>Location:&nbsp;</strong>{{activity.location}}<br />
      {% endif %}

      {% if activity.score %}
      <strong>Score:&nbsp;</strong>{{activity.score|floatfmt}}<br />
      {% endif %}
    </div>
    {% if activity.description %}
      <div class="description">
        {{activity.description|markdown}}
      </div>
    {% endif %}
    <a href="/edit?id={{activity.id}}">
      <img src="/static/pen.png" height="20" />
      Edit
    </a>
  </div>
  {% endfor %}
</div>
{% endblock main %}
