{% extends "layout.html" %}

{% block title %}Snow log{% endblock title %}

{% block main %}
<div class="page-weeks">
  <div class="header">
    {{home_header_link()}}
    <h1>Snow log!</h1>
  </div>

  <div class="season-summary">
    <div>
      <Strong>Total days:</Strong> {{summary.days}}
    </div>
    <div>
      <Strong>Total hours:</Strong> {{summary.hours|floatfmt}}
    </div>
    <a href="/edit" class="add-new">
      <img src="/static/pen.png" height="20" />
      Add new
    </a>
  </div>

  {% for activity in activities %}
  <div class="activity">
    <a name="{{activity.id}}"></a>
    <h2>{{activity.date|dateformat}} / {{activity.activity_type}}</h2>
    <div class="summary">
      {% if activity.duration_hours %}
        <div>
          <strong>Duration:&nbsp;</strong>{{activity.duration_hours|floatfmt}} hours
        </div>
      {% endif %}

      {% if activity.location %}
        <div>
          <strong>Location:&nbsp;</strong>{{activity.location}}
        </div>
      {% endif %}

      {% if activity.score %}
        <div>
          <strong>Score:&nbsp;</strong>{{activity.score|floatfmt}}
        </div>
      {% endif %}
    </div>

    {% if activity.description %}
      <div class="description">
        {{activity.description|markdown}}
      </div>
    {% endif %}
    <div class="edit-button">
      <a href="/edit?id={{activity.id}}">
        <img src="/static/pen.png" height="20" />
        Edit
      </a>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock main %}
