{%- macro home_header_link() -%}
<a href="/" class="home-link">
  <img src="/static/img/home.png" height="32" width="32" />
</a>
{%- endmacro -%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/static/favicon/snowflake.ico?ver={{(buildNumber)}}"
    />

    <link rel="stylesheet" href="/static/css/flatpickr.min.css" />
    <script src="/static/js/flatpickr.js"></script>

    <link rel="stylesheet" href="/static/css/main.css?ver={{(buildNumber)}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Time tracking" />

    <title>{% block title %}{% endblock title %}</title>
  </head>
  <body>
    <div class="main">{% block main %}{% endblock %}</div>
    
  </body>
</html>
