:root {
  --background: #222;
  --color: #ddd;
  --mid-color: #333;
  --week-header: #1a3c4f;
  --alternating-row: #1b2830;
  --record-hover: #1b2830;
  --link-color: #7CB7DF;
  --border-color: #111;
  --button-padding: 0.2em 0.8em;
  --button-color: var(--week-header);
  --border-radius: 5px;
  font-size: 20px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #111;
  color: #ddd;
}

@media only screen and (max-width: 1000px) {
  .main {
    font-size: 12px;
    width: 100%;
  }

  :root {
    font-size: 12px;
  }
}

.main {
  margin: auto;
  width: min(100%, 1400px);
}

.header {
  display: grid;
  grid-template-columns: 2em 32px 1fr 32px 2em;
  grid-template-rows: auto;
}

.header h1 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  margin-bottom: 0;
  margin-top: 0.5em;
  text-align: center;
}

.header a.refresh-link {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
  justify-self: center;
  align-self: end;
}

.header a.home-link {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  justify-self: center;
  align-self: end;
}

.season-summary {
  margin: 2em 2em 0 2em;
  padding: 0 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.season-summary div:nth-child(2) {
  justify-self: end;
}

.season-summary a {
  padding: var(--button-padding);
  border-radius: var(--border-radius);
  background-color: var(--week-header);
}

.season-summary a:hover {
  background-color: var(--record-hover);
}

a {
  color: var(--color);
  text-decoration: none;
}

.activity {
  background-color: var(--background);
  color: var(--color);
  border-radius: 0.3rem;
  margin: 2em;
  padding: 1em;
  text-align: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.activity > h2 {
  text-align: center;
}

.activity .description  {
  background-color: var(--mid-color);
  border-radius: var(--border-radius);
  margin: 10px;
  padding: 10px;
  border: 1px solid var(--border-color);
}

.activity .description p {
  margin: 0.5em 0;
}

.activity .edit-button {
  display: flex;
  justify-content: flex-end;
}

.activity .edit-button a {
  padding: var(--button-padding);
  border-radius: var(--border-radius);
  background-color: var(--button-color);
}

.activity .edit-button a:hover {
  background-color: var(--week-header);
  background-color: var(--record-hover);
}


/*  FORMS */

form input,
form textarea
 {
  padding: 0.5em 1em;
  background-color: #eee;
  border-radius: var(--border-radius);
  border: 2px solid #111;
}

button {
  margin-top: 1em;
  padding: 0.5em 2em;
  background-color: #1a3c4f;
  color: #eee;
  font-weight: bold;
  border: 2px solid #111;
  border-radius: var(--border-radius);
}

button:hover {
  background-color: #142e3d;
  cursor: pointer;
}

button.delete-button {
  background-color: #900;
}

button.delete-button:hover {
  background-color: #600;
}

.delete-form {
  display: block;
  text-align: right;
}


/* ------- Page login ------------*/
.page-login {
  text-align: center;
}

/* ------- Page edit -------------*/
.page-edit form.edit-form {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 16px;
}

.page-edit form label {
  grid-column: 1 / 2;
  align-self: center;
}

.page-edit form input,
.page-edit form textarea {
  grid-column: 2 / 3;
}

.page-edit form button {
  grid-column: 1 / 3;
}

form.action-start {
  grid-column:  3/4;
}
form.action-stop {
  grid-column:  4/5;
}

.button-start {
  background-color:rgb(0, 70, 0);
}

.button-start:hover {
  background-color:rgb(0, 55, 0);
}

.button-stop {
  background-color:rgb(70, 0, 0);
}

.button-stop:hover {
  background-color:rgb(55, 0, 0);
}
